/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #7973C1;
}
h1 {
  font-size: 6rem;
  border-bottom: 1px;
}
h2 {
  font-family: 'Lacquer', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-family: 'Abel', sans-serif;
  border: 2px dotted pink;
  margin: 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container nav a {
  text-decoration: none;
  padding: 3rem;
  color: black;
}
.skill {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  justify-content: space-around;
}
.skill h2 {
  padding-bottom: 1rem;
}
.img-bob {
  display: flex;
  max-width: 30%;
  height: auto;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.button {
  display: flex;
  justify-content: center;
  width: 7rem;
  color: pink;
  background: black;
  border: none;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
  nav a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  nav a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  h1 {
    color: aqua;
  }
}
